@model BootstrapModel

<div class="modal fade modal-action" id="@Model.Id" tabindex="-1" aria-labelledby="@Model.AreaLabeledId" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content"></div>
    </div>
</div>