@model CustomerDto

<form asp-action="DeleteConfirmed" role="form">
    <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body form-horizontal">
        <input type="hidden" asp-for="Id" />
        Do you want to delete @Model.CompanyName ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Delete</button>
    </div>
</form>