<h1>Email Activation Success</h1>

<p class="text-success">
    <b>You are activated account successfully.</b><br />
    Please login.
</p>

<p>
    <a asp-action="Login" class="btn btn-success">Login</a>
</p>