<h1>Remind Password Success</h1>

<p class="text-success">
    <b>We sent an email for reset your password.</b><br />
    Go to your mailbox.
</p>

<p>
    <a asp-action="Login" class="btn btn-success">Login</a>
</p>