@model ResetPasswordDto

<form action="ResetPassword" method="post">

    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="card">
                <div class="card-header">
                    Reset Password
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <input type="hidden" asp-for="EmailAddress" class="form-control" />
                    
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PasswordRepeat"></label>
                        <input asp-for="PasswordRepeat" class="form-control" />
                        <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}